// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@import '~vuetify/dist/vuetify.min.css';

.navbar-laravel{
  background-color: #00acc1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
}