<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<v-app>
    <v-toolbar>
        <v-toolbar-title>Title</v-toolbar-title>

        <v-toolbar-items>
            <v-btn text>Link 1</v-btn>
            <v-btn text>Link 2</v-btn>
            <v-btn text>Link 3</v-btn>
        </v-toolbar-items>

    </v-toolbar>

</v-app>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
